<%= render 'header' %>

    <!-- start banner Area -->
    <section class="share-banner-area relative" id="home">


      <div class="overlay overlay-bg" id="bg_anim"></div>
      
      <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
          <div class="banner-content col-lg-9 col-md-12">
           <h1 class="text-white text-uppercase">
             &nbsp				
            </h1>
            <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
            <h2 class="text-white text-uppercase">
              信息分享，共同学习!				
            </h2>
           
            <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
            <p class="text-white">
              在这里我们共同分享关于Dfinity 的最新进展和相关新闻！
            </p>
             <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
          </div>											
        </div>
      </div>
    </section>


<p id="notice"><%= notice %></p>

<h1>文章目录</h1>

<table>
  <thead>
    <tr>
      <th>标题</th>
      <th>作者</th>
      <th>简介</th>
      <th colspan="3" ></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.author %></td>
        <td><%= article.body[0,20] %></td>
        <td> 
          <%= link_to 'Show', article %>
        </td>
        <td><% if session[:admin] %>
          <%= link_to 'Edit', edit_article_path(article) %>
        <% end %></td>
        <td><% if session[:admin] %>
           <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render 'footer' %>