<%= render 'shared/header' %>
    <section class="banner-area relative footer-area section-gap">
      <div class="overlay overlay-bg" id="bg_anim"></div>
      <div class="container">
      </div>
    </section>
<p id="notice"><%= notice %></p>
<div class="container">
<h1 class='article'>
  <%= @article.title %>
</h1>
<p class="autor article">
<span>作者：</span><span><%= @article.author %></span>  
<span>最新编辑时间：</span><span><%= @article.updated_at %></span>  
<% if session[:admin] %>
  <span><%= link_to '编辑', edit_article_path(@article) %></span>
 </span><%= link_to '删除', @article, method: :delete, data: { confirm: 'Are you sure?' } %></span></p>
<% end %>

<p>
  <%= raw @article.body %>
</p>
</div>



<%= render 'shared/footer' %>