
    <%= render 'shared/header' %>
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
      <div class="overlay overlay-bg" id="bg_anim"></div>
      <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
          <div class="banner-content col-lg-9 col-md-12">
            <h2 class="text-white text-uppercase">
              To Dfinity and beyond!				
            </h2>
            <h1 class="text-white text-uppercase">
             &nbsp				
            </h1>
            <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
            <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
            <p  id='buzz_intro' class="text-white">
            </p>
            <a href="#contact" id='join_us' class="primary-btn text-uppercase"></a>
          </div>											
        </div>
      </div>
    </section>
    <!-- End banner Area -->				
    <!-- Start cat Area -->
    <section class="cat-area section-gap" id="service">
      <div class="container">							
        <div class="row">
          <div class="col-lg-4">	
            <div class="single-cat d-flex flex-column">
              <a href="/mining" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-magic-wand"></span></span></a>
              <h4 id='mining' class="mt-40 mb-20">挖矿</h4>
              <p id='mining_intro'>
              </p>
            </div>															
          </div>
          <div class="col-lg-4">	
            <div class="single-cat">
              <a href="/share" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-rocket"></span></span></a>
              <h4 id='communicate' class="mt-40 mb-20">交流</h4>
              <p id='communicate_intro'>
              </p>
            </div>															
          </div>
          <div class="col-lg-4">
            <div class="single-cat">
              <a href="/dapp" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-bug"></span></span></a>
              <h4  class="mt-40 mb-20">dAPP</h4>
              <p id='dapp_intro'>
              </p>
            </div>							
          </div>
        </div>
      </div>	
    </section>                    
  	
 <!-- Start testomial Area -->
			<section class="testomial-area section-gap" id="testimonail">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10" id='nesest_update'></h1>
								<p></p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="active-tstimonial-carusel">
          <% @articles.each do |article| %>
             <div class="single-testimonial item">
							<a href= <%= "/articles/"+article.id.to_s %>>	<img class="mx-auto article_icon"  src= <%= getIcon(article)  %> alt=""></a>
						 	<p class="desc">
                <%= article.summary %>
								</p>
							<a href= <%= "/articles/"+article.id.to_s %>>	<h4><%= article.title %></h4></a>
								<p>
									<%= article.author %>
								</p>
							</div>
             <% end %>													
						</div>
					</div>
				</div>	
			</section>
			<!-- End testomial Area -->	

    <!-- Start contact Area -->
    <section class="contact-area mb-20" id="contact">
      <div class="container">
        <div class="contact-section">
          <div class="row align-items-center">
            <div class="col-lg-4 contact-left">
              <div style=" width:0%;height: 300px;" id="map"></div>
            </div>
            <div class="col-lg-7 contact-right">
              <%= form_tag "/users",class: "contact-form text-right form-area", id: "myForm" do %>
                <input name="user[name]" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mt-10" required="" type="text">
                <input name="user[email]" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mt-10" required="" type="email">
                <textarea class="common-textarea mt-10" name="user[message]" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                <%= submit_tag "Send Message",class: "primary-btn mt-20 lnr lnr-arrow-right" %>
                <div class="alert-msg">
                </div>
              <% end %>
            </div>							
          </div>
        </div>
      </div>	
    </section>
    <!-- End contact Area -->
    
    <!-- start footer Area -->		
    <%= render 'shared/footer' %>

<script src="/js/main.js"></script>	    
<script type="text/javascript" src="/js/three.min.js"></script>
<script type="text/javascript">
var SEPARATION = 100, AMOUNTX = 50, AMOUNTY = 50;
var container;
var camera, scene, renderer;

var particles, particle, count = 0;

var mouseX = 0, mouseY = 0;

var windowHalfX = window.innerWidth / 2;
var windowHalfY = window.innerHeight / 2;

init();
animate();
function init() {
container = document.getElementById( 'bg_anim' );
camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 10000 );
camera.position.z = 1000;

scene = new THREE.Scene();

particles = new Array();

var PI2 = Math.PI * 2;
var material = new THREE.ParticleCanvasMaterial( {

  color: 0xffffff,
  program: function ( context ) {

    context.beginPath();
    context.arc( 0, 0, 1, 0, PI2, true );
    context.fill();

  }

} );

var i = 0;

for ( var ix = 0; ix < AMOUNTX; ix ++ ) {

  for ( var iy = 0; iy < AMOUNTY; iy ++ ) {

    particle = particles[ i ++ ] = new THREE.Particle( material );
    particle.position.x = ix * SEPARATION - ( ( AMOUNTX * SEPARATION ) / 2 );
    particle.position.z = iy * SEPARATION - ( ( AMOUNTY * SEPARATION ) / 2 );
    scene.add( particle );

  }

}

renderer = new THREE.CanvasRenderer();
renderer.setSize( window.innerWidth, window.innerHeight );
container.appendChild( renderer.domElement );

document.addEventListener( 'mousemove', onDocumentMouseMove, false );
document.addEventListener( 'touchstart', onDocumentTouchStart, false );
document.addEventListener( 'touchmove', onDocumentTouchMove, false );

//

window.addEventListener( 'resize', onWindowResize, false );

}

function onWindowResize() {

windowHalfX = window.innerWidth / 2;
windowHalfY = window.innerHeight / 2;

camera.aspect = window.innerWidth / window.innerHeight;
camera.updateProjectionMatrix();

renderer.setSize( window.innerWidth, window.innerHeight );

}

//

function onDocumentMouseMove( event ) {

mouseX = event.clientX - windowHalfX;
mouseY = event.clientY - windowHalfY;

}

function onDocumentTouchStart( event ) {

if ( event.touches.length === 1 ) {

  event.preventDefault();

  mouseX = event.touches[ 0 ].pageX - windowHalfX;
  mouseY = event.touches[ 0 ].pageY - windowHalfY;

}

}

function onDocumentTouchMove( event ) {

if ( event.touches.length === 1 ) {

  event.preventDefault();

  mouseX = event.touches[ 0 ].pageX - windowHalfX;
  mouseY = event.touches[ 0 ].pageY - windowHalfY;

}

}

//

function animate() {

requestAnimationFrame( animate );

render();


}

function render() {

camera.position.x += ( mouseX - camera.position.x ) * .05;
camera.position.y += ( - mouseY - camera.position.y ) * .05;
camera.lookAt( scene.position );

var i = 0;

for ( var ix = 0; ix < AMOUNTX; ix ++ ) {

  for ( var iy = 0; iy < AMOUNTY; iy ++ ) {

    particle = particles[ i++ ];
    particle.position.y = ( Math.sin( ( ix + count ) * 0.3 ) * 50 ) + ( Math.sin( ( iy + count ) * 0.5 ) * 50 );
    particle.scale.x = particle.scale.y = ( Math.sin( ( ix + count ) * 0.3 ) + 1 ) * 2 + ( Math.sin( ( iy + count ) * 0.5 ) + 1 ) * 2;

  }

}

renderer.render( scene, camera );

count += 0.1;
}
</script>




