<!DOCTYPE html>
  <html lang="zxx" class="no-js">
  <head>
     <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/fav.png">
  <!-- Author Meta -->
  <meta name="author" content="codepixer">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>Dfinity巴斯光年社区</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
  <link rel="stylesheet" href="/css/linearicons.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/blog.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/nice-select.css">
  <link rel="stylesheet" href="/css/hexagons.min.css">										
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/main.css">
    
  <script src="/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="/js/main.js"></script>		
   
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>			
      <script src="/js/easing.min.js"></script>			
    <script src="/js/hoverIntent.js"></script>
    <script src="/js/superfish.min.js"></script>	
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>	
    <script src="/js/owl.carousel.min.js"></script>			
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>	
    <script src="/js/hexagons.min.js"></script>					
    <script src="/js/waypoints.min.js"></script>			
    <script src="/js/jquery.counterup.min.js"></script>	
       <script src="/js/language.js"></script>	
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript">
    var update_lang = function(){
        var lang_list = window.lang_list;
        if(window.sessionStorage.getItem('lang')){
            for( key in lang_list ){
              $("#"+ key).html(lang_list[key][window.sessionStorage.getItem('lang')]);
              }
        } else {
              for( key in lang_list ){
              $("#"+ key).html(lang_list[key][0]);
              }
             window.sessionStorage.setItem('lang',0);
       }
    };
    update_lang();
    </script>
  </body>
</html>
